@use "../variables.scss";

.award-entry {
  display: grid;
  grid-template-columns: 100px 1fr auto;

  .date {
    text-align: left;
    grid-row: span 10;
  }

  .awarder {
    margin-left: variables.$space-md;
    align-self: start;
    text-align: right;
  }

  .summary {
    grid-column: 2 / span 2;
  }
}
