@use "../variables";

.certificate-entry {
  display: grid;
  grid-template-columns: 100px 1fr auto;

  .date {
    text-align: left;
    grid-row: span 2;
  }

  .title {
    margin: 0;
  }

  .issuer {
    margin-left: variables.$space-md;
    align-self: start;
    text-align: right;
  }

  a {
    color: var(--link-color);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
