@use "../variables";

@use "sass:color";

.certificate-entry {
  display: grid;
  grid-template-columns: 100px 1fr 400px;
  grid-template-areas:
    "date title"
    "date issuer";
  font-size: variables.$font-size-base;
  line-height: variables.$line-height-base;

  .date {
    text-align: left;
    grid-area: date;
  }

  .title {
    grid-area: title;
  }

  .issuer {
    grid-area: issuer;
    text-align: right;
  }
}
