@use "../variables";

.education-entry {
  display: grid;
  grid-template-columns: 100px 1fr auto;
  break-inside: avoid;

  .date {
    text-align: left;
  }

  .title {
    margin-right: 20px;
  }

  .institution {
    align-self: center;
  }

  .highlights {
    grid-column: span 2;
  }

  p {
    grid-column: span 2;
    margin: 0;
  }
}
