@use "../variables";

.header-container {
  display: flex;
  justify-content: space-between;
  gap: 0 2rem;

  .title {
    grid-area: title;
    align-self: start;
    text-align: left;

    .name {
      font-weight: bolder;
      font-size: variables.$font-size-5xl;
      line-height: variables.$line-height-5xl;
    }

    .label {
      font-size: variables.$font-size-3xl;
      line-height: variables.$line-height-3xl;
      margin-top: 0.5em;
    }
  }

  .profiles {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: variables.$space-sm variables.$space-sm;

    align-items: stretch;
    align-self: stretch;
    grid-area: profiles;
    list-style: none;

    .profile {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;

      i {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}
