@use "../variables";
@use "sass:color";

.header-container {
  hr {
    margin-top: variables.$space-sm;
    margin-bottom: variables.$space-sm;
  }

  .title {
    display: flex;
    align-items: baseline;
    gap: 5px;
    font-size: clamp(
      24px,
      4rem,
      64px
    ); // Minimum 24px, grows with screen, max 64px
    line-height: 1;
    margin-bottom: variables.$space-md;
  }

  .name {
    font-weight: bold;
  }

  .label {
    font-weight: lighter;
    color: color.adjust(variables.$text-color, $lightness: 40%);
  }

  .separator {
    font-weight: normal;
  }

  .profiles {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    list-style: none;
    padding: 0;
    justify-content: space-between;

    li {
      display: flex;
      align-items: center;
      gap: 5px;

      &::after {
        content: "•";
        margin-left: 5px;
      }

      &:last-child::after {
        content: ""; // No dot after the last item
      }
    }
  }
}
