@use "../variables";
@use "../colours";
@use "sass:color";

.header-container {
  hr {
    margin-top: variables.$space-sm;
    margin-bottom: variables.$space-sm;
  }

  .title {
    display: flex;
    align-items: baseline;
    gap: 5px;
    font-size: clamp(24px, 4rem, 64px);
    line-height: 1;
    margin-bottom: variables.$space-md;
  }

  .name {
    font-weight: bold;
  }

  .label,
  .separator {
    font-weight: normal;
    color: colours.$neutral-700;
  }

  .profiles {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    list-style: none;
    padding: 0;
    justify-content: space-between;

    li {
      display: flex;
      align-items: center;
      gap: variables.$space-sm;

      &::after {
        content: "•";
        margin-left: variables.$space-xs;
      }

      &:last-child::after {
        content: "";
      }
    }
  }
}
