.project-entry {
  display: grid;
  grid-template-columns: 100px 1fr auto;

  .date {
    text-align: left;
    grid-row: span 10;
  }

  .entity {
    align-self: start;
    text-align: right;
  }

  .description,
  .highlights,
  .keywords,
  .roles {
    grid-column: 2 / span 2;
    margin: 2px 0 0;
  }

  .highlights {
    padding-left: 0;

    li {
      margin-left: 16px;
    }
  }
}
