@use "../variables";

.projects-entry {
  display: grid;
  grid-template-columns: 100px 1fr auto;
  grid-template-areas: "date title tags";

  font-size: variables.$font-size-base;
  line-height: variables.$line-height-base;

  .date {
    text-align: left;
    grid-area: date;
    font-size: variables.$font-size-base;
    line-height: variables.$line-height-base;
  }

  .title {
    grid-area: title;
  }

  .tags {
    grid-area: tags;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 0.5em;
  }
}
