@use "../variables";

.publication-entry {
  display: grid;
  grid-template-columns: 100px 1fr auto;

  .date {
    text-align: left;
    grid-row: span 10;
  }

  .publisher,
  .authors,
  .summary {
    grid-column: 2 / span 2;
    margin: 4px 0 0;
  }

  .summary {
    padding-left: 0;
  }
}
