@use "../variables";

.publication-entry {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-areas:
    "date title"
    "date authors"
    "date publisher"
    "date summary";

  font-size: variables.$font-size-base;
  line-height: variables.$line-height-base;

  .date {
    text-align: left;
    grid-area: date;
    font-size: variables.$font-size-base;
    line-height: variables.$line-height-base;
  }

  .title {
    grid-area: title;
  }

  .publisher {
    grid-area: publisher;
  }

  .authors {
    grid-area: authors;
  }

  .summary {
    margin-top: variables.$font-size-xs;
    grid-area: summary;
    margin-top: 0.5em;
  }
}
