@use "../variables";

.work-entry {
  display: grid;
  grid-template-columns: 100px 1fr auto;

  .date {
    text-align: left;
    grid-row: span 10;
  }

  .company {
    align-self: start;
    text-align: right;
  }

  .summary,
  .highlights {
    grid-column: 2 / span 2;
    margin: 4px 0 0;
  }

  .highlights {
    padding-left: 0;

    li {
      margin-left: 16px;
    }
  }

  p {
    margin: 0;
  }
}
