@use "../variables";

.work-entry {
  display: grid;
  grid-template-columns: 100px 1fr auto;
  grid-template-areas:
    "date title company"
    "date summary summary"
    "date highlights highlights";

  font-size: variables.$font-size-base;
  break-inside: avoid;

  .date {
    grid-area: date;
    text-align: left;
  }

  .title {
    grid-area: title;
    margin-right: 1rem;
  }

  .company {
    grid-area: company;
    align-self: center;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .summary {
    grid-area: summary;
    margin: 0;
  }

  .highlights {
    grid-area: highlights;
    margin-top: variables.$font-size-xs;
  }

  &:last-child {
    margin-top: variables.$font-size-sm;
  }
}
