@use "sass:color";

.work-entry {
  display: grid;
  grid-template-columns: 100px 1fr auto;
  grid-template-areas:
    "date title company"
    "date summary summary"
    "date highlights highlights";

  font-size: $font-size-base;
  break-inside: avoid;

  .date {
    text-align: left;
    grid-area: date;
  }

  .title {
    grid-area: title;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    text-align: left;
  }

  .highlights {
    margin-top: $font-size-xs;
    grid-area: highlights;
  }

  .summary {
    grid-area: summary;
  }

  .company {
    grid-area: company;
  }

  &:last-child {
    margin-top: $font-size-sm;
  }
}
