if helper.isValidArray(resume.certificates)
  div.section-container
    div.section-header
      h2 Certificates
      hr
    div.margin-container-xs
      each cert in resume.certificates
        div.certificate-entry
          div.date
            = helper.formatDate(cert.date)
          h3.title
            if cert.url
              a(href=cert.url target="_blank" rel="noopener noreferrer")= cert.name
            else
              = cert.name
          h3.issuer= cert.issuer
