if helper.isValidArray(resume.education)
  div.section-container
    div.section-header
      h2 Education
      hr
    div.margin-container-md
      each edu in resume.education
        div.education-entry.no-break
          div.date
            = helper.formatDate(edu.startDate) + ' -'
            br
            = helper.formatDate(edu.endDate)
          h3= edu.studyType + " in " + edu.area
          span.institution
            h3
              a(href=edu.url)= edu.institution
          if edu.summary
            p.summary= edu.summary
          if helper.isValidArray(edu.courses)
            p.course
              strong Courses:
              = ' ' + edu.courses.join(', ') + '.'
          if helper.isValidArray(edu.highlights)
            ul.highlights
              each highlight in edu.highlights
                li!= helper.mdToHtml(highlight)
