if helper.validArray(resume.education)
  div.section-container
    div.section-title
      h2 Education
      hr
    div
      each edu in resume.education
        div.education-entry.no-break.margin-container-md
          div.date
            = helper.calcDate(edu.startDate) + ' -'
            br
            = helper.calcDate(edu.endDate)
          h3= edu.studyType + " in " + edu.area
          span.institution
            h3
              a(href=edu.url)= edu.institution
          if edu.summary
            p.summary= edu.summary
          if helper.validArray(edu.courses)
            p
              strong Courses:
              = ' ' + edu.courses.join(', ')
          if helper.validArray(edu.highlights)
            ul.highlights
              each highlight in edu.highlights
                li!= helper.mdToHtml(highlight)
