if helper.isValidArray(resume.interests)
  div.section-container
    div.section-header
      h2 Interests
      hr
    div.margin-container-xs
      each interest in resume.interests
        p
          strong
            = interest.name + ': '
          if helper.isValidArray(interest.keywords)
            = interest.keywords.join(", ")
