if helper.isValidArray(resume.work)
  div.section-container
    div.section-header
      h2 Volunteering
      hr
    div.margin-container-md
      each vol in resume.volunteer
        div.work-entry
          div.date
            = helper.formatDate(vol.startDate) + ' -'
            br
            = helper.formatDate(vol.endDate)
          h3.title= vol.position
          span.company
            h3
              a(href=vol.url)= vol.organization
          if vol.summary
            p.summary= vol.summary
          if helper.isValidArray(vol.highlights)
            ul.highlights
              each highlight in vol.highlights
                li!=helper.mdToHtml(highlight)
