if helper.isValidArray(resume.work)
  div.section-container
    div.section-header
      h2 Work
      hr
    div.margin-container-md
      each work in resume.work
        div.work-entry
          div.date
            = helper.formatDate(work.startDate) + ' -'
            br
            = helper.formatDate(work.endDate)
          h3.title= work.position
          span.name
            h3
              a(href=work.url)= work.name
          if work.summary
            p.summary= work.summary
          if helper.isValidArray(work.highlights)
            ul.highlights
              each highlight in work.highlights
                li!= helper.mdToHtml(highlight)
