if helper.validArray(resume.work)
  div.section-container
    div.section-title
      h2 Work
      hr
    div
      each work in resume.work
        div.work-entry.margin-container-md
          div.date
            = helper.calcDate(work.startDate) + ' -'
            br
            = helper.calcDate(work.endDate)
          h3.title= work.position
          span.company
            h3
              a(href=work.url)= work.company
          if work.summary
            p.summary= work.summary
          if helper.validArray(work.highlights)
            ul.highlights
              each highlight in work.highlights
                li!= helper.mdToHtml(highlight)
