if helper.validArray(resume.certificates)
  div(class='margin-container-2')
    div(class='section')
      h3 Certificates
      hr
    div(class='container')
      each certificate in resume.certificates
        div(class='article margin-container-1 no-break')
          div(class='publication-entry')
            span(class="date")= helper.calcDate(certificate.date)
            h4(class="title")=certificate.name
            span(class="issuer")
              a(href=certificate.url)=certificate.issuer

