if helper.validArray(resume.projects)
  div(class='margin-container-2')
    div(class='section')
      h3 Projects
      hr
    div(class='container')
      each project in resume.projects
        div(class='projects-entry no-break')
          span(class="date")= helper.calcDate(project.startDate)
          h4(class="title")=project.name
          ul(class="tags")
            each tag in project.highlights
                li= `${tag}`
