@use "sass:color";
@use "variables";
@use "colours";

html {
  font-size: variables.$font-size;
}

a {
  color: variables.$text-color;
  font-weight: bolder;
  text-decoration: none;

  &[href] {
    text-decoration-color: color.adjust(variables.$text-color, $lightness: 40%);
  }
}

p,
q {
  line-height: variables.$line-height-xs;
}

li {
  line-height: variables.$line-height-sm;

  &:first-child {
    margin-top: 0;
  }
}

h2 {
  font-size: variables.$font-size-3xl;
  font-weight: bold;
}

h3 {
  font-size: variables.$font-size-lg;
  line-height: variables.$line-height-sm;
  font-weight: bold;
}

h4 {
  font-size: variables.$font-size-base;
  font-weight: bold;
}

hr {
  flex-grow: 1;
  align-self: center;
  // TODO: make this dynamic
  border-top: 2px solid colours.$neutral-700;
  margin-left: variables.$font-size-2xl;
}

.content {
  width: variables.$content-width;
  font-size: variables.$font-size-base;
  line-height: variables.$line-height-base;
  color: colours.$neutral-900;
  height: auto;
  padding: 0 50px;
  margin: 0 auto;
  font-family: "Times New Roman", "Open Sans", "Helvetica", "Arial", "Roboto";
  text-align: justify;
}

.section-container {
  .section-title {
    display: flex;
    align-items: center;
    margin: variables.$space-md 0 variables.$space-xs 0;
  }
}

.date {
  font-size: variables.$font-size-sm;
}
