@use "sass:color";
@use "variables";
@use "colours";

html {
  font-size: variables.$font-size;
}

a {
  color: variables.$text-color;
  font-weight: bolder;
  text-decoration: none;

  &[href] {
    // text-decoration: underline;
    text-decoration-color: color.adjust(variables.$text-color, $lightness: 40%);
  }
}

p,
q {
  line-height: variables.$line-height-xs;
}

li {
  line-height: variables.$line-height-sm;

  &:first-child {
    margin-top: 0;
  }
}

.content {
  width: variables.$content-width;
  height: auto;
  padding: 0 50px;
  margin: 0 auto;
  font-family: "Times New Roman", "Open Sans", "Helvetica", "Georgia",
    "Times New Roman", "Arial", "Roboto", Times, serif;
  color: colours.$neutral-900;
  text-align: justify;
  font-size: variables.$font-size-base;
  line-height: variables.$line-height-base;
}

h2 {
  font-size: variables.$font-size-xl;
  line-height: variables.$line-height-xl;
  font-weight: bold;
}

h3 {
  font-size: variables.$font-size-3xl;
  line-height: variables.$line-height-3xl;
  font-weight: bold;
}

h4 {
  font-size: variables.$font-size-lg;
  font-weight: bold;
}

h5 {
  font-size: variables.$font-size-base;
  line-height: variables.$line-height-base;
  font-weight: bold;
}

hr {
  flex-grow: 1;
  height: 2px;
  background-color: colours.$neutral-700;
  color: colours.$neutral-700;
  align-self: center;
  margin: 0 0 0 variables.$font-size-3xl;
}

br {
  line-height: 0;
}

.section-container {
  .section-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: variables.$font-size-xl 0 0 0;
  }
}

.date {
  font-size: variables.$font-size-sm;
}
