@use "variables";

@media not print {
  body {
    margin: variables.$space-3 0 variables.$space-4 0;
  }
}

@media print {
  .no-break {
    break-inside: avoid;
    page-break-inside: avoid;
  }

  .section {
    break-after: avoid;
  }
}
