@use "variables";

@page {
  size: A4;
  margin: 15mm 0 20mm 0;
}

@media not print {
  body {
    margin: variables.$space-md 0 variables.$space-md 0;
  }
}

@media print {
  .no-break {
    break-inside: avoid;
    page-break-inside: avoid;
  }
}
