@use "variables";
@use "colours.scss";
@use "sass:color";
@use "sass:math";

@page {
  size: A4;
  margin: 15mm 0 20mm 0;
}

@media not print {
  body {
    margin: variables.$space-md 0 variables.$space-md 0;
  }
}

@media print {
  .no-break {
    break-inside: avoid;
    page-break-inside: avoid;
  }

  .section-header {
    break-after: avoid;
    page-break-after: avoid;
  }

  .section-container :where(*) {
    a {
      color: inherit;
      // font-style: italic;
      // font-weight: 700;
      text-decoration: underline;
      text-underline-offset: 2px;
      text-decoration-thickness: 1px;
    }
  }
}
