@use "mixins";
@use "variables";

.margin-container-1:not(:first-child) {
  margin-top: variables.$font-size-sm;
}

.margin-container-2:not(:first-child) {
  margin-top: variables.$font-size-lg;
}

.margin-container-3:not(:first-child) {
  margin-top: variables.$font-size-xl;
}

.margin-container-4:not(:first-child) {
  margin-top: variables.$font-size-2xl;
}

.padding-container-2 {
  padding: variables.$space-2 0;
}

.padding-top-container-2 {
  padding-top: variables.$space-2;
}

.padding-bottom-container-2 {
  padding-bottom: variables.$space-2;
}

.margin-text-1 {
  @include mixins.margin-text(2px);
}

.margin-text-2 {
  @include mixins.margin-text(4px);
}

.margin-text-3 {
  @include mixins.margin-text(6px);
}

.margin-text-4 {
  @include mixins.margin-text(8px);
}

.margin-text-5 {
  @include mixins.margin-text(14px);
}

.no-break {
  break-inside: avoid;
}

.no-alone-1 {
  @include mixins.no-alone(75px);
}

.no-alone-2 {
  @include mixins.no-alone(150px);
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-5xl {
  font-size: 3rem;
  line-height: 1;
}

.text-6xl {
  font-size: 3.75rem;
  line-height: 1;
}

.text-7xl {
  font-size: 4.5rem;
  line-height: 1;
}

.text-8xl {
  font-size: 6rem;
  line-height: 1;
}

.text-9xl {
  font-size: 8rem;
  line-height: 1;
}
