@use "mixins";
@use "variables";

.margin-container-xs > *:not(:first-child) {
  margin-top: variables.$space-xs;
}

.margin-container-sm > *:not(:first-child) {
  margin-top: variables.$space-sm;
}

.margin-container-md > *:not(:first-child) {
  margin-top: variables.$space-md;
}

.margin-container-lg > *:not(:first-child) {
  margin-top: variables.$space-lg;
}

.margin-container-xl > *:not(:first-child) {
  margin-top: variables.$space-xl;
}

.no-alone-1 {
  @include mixins.no-alone(75px);
}

.no-alone-2 {
  @include mixins.no-alone(150px);
}

.text-xs {
  font-size: variables.$font-size-xs;
  line-height: variables.$line-height-xs;
}

.text-sm {
  font-size: variables.$font-size-sm;
  line-height: variables.$line-height-sm;
}

.text-base {
  font-size: variables.$font-size-base;
  line-height: variables.$line-height-base;
}

.text-lg {
  font-size: variables.$font-size-lg;
  line-height: variables.$line-height-lg;
}

.text-xl {
  font-size: variables.$font-size-xl;
  line-height: variables.$line-height-xl;
}

.text-2xl {
  font-size: variables.$font-size-2xl;
  line-height: variables.$line-height-2xl;
}

.text-3xl {
  font-size: variables.$font-size-3xl;
  line-height: variables.$line-height-3xl;
}

.text-4xl {
  font-size: variables.$font-size-4xl;
  line-height: variables.$line-height-4xl;
}

.text-5xl {
  font-size: variables.$font-size-5xl;
  line-height: variables.$line-height-5xl;
}
