@use "sass:color";

html {
  font-size: $base-font-size;
}

a {
  color: $text-color;
  font-weight: inherit;
  text-decoration: none;

  &[href] {
    text-decoration: underline;
    text-decoration-color: color.adjust($text-color, $lightness: 40%);
  }
}

p,
q {
  line-height: $line-height-1;
}

li {
  line-height: $line-height-2;

  &:first-child {
    margin-top: 0;
  }
}

.content {
  width: $content-width;
  height: auto;
  padding: 0 50px;
  margin: 0 auto;
  font-family: cm;
  color: $neutral-900;
  text-align: justify;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

h2 {
  font-size: $font-size-xl;
  line-height: $line-height-xl;
  font-weight: bold;
}

h3 {
  font-size: $font-size-3xl;
  line-height: $line-height-3xl;
  font-weight: bold;
}

h4 {
  font-size: $font-size-lg;
  /* line-height: $line-height-lg; */
  font-weight: bold;
}

h5 {
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: bold;
}

hr {
  flex-grow: 1;
  height: 2px;
  background-color: $neutral-700;
  color: $neutral-700;
  align-self: center;
  margin: 0 0 0 $font-size-3xl;
}

.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: $font-size-xl 0 0 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: $font-size-sm;
}
